body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


.img{
    width: 150px;

    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px ;
    padding: 10px; */
}

.card{
    /* border: 2px dotted rgb(0, 0, 0); */
    border-bottom: 7px solid #d8cefe;
    background-color: #ddebf8;
    color: #2b2839;
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 40px auto;


    
}

/* .text_col{
    


} */